<html>
<head>
    <title>Community Group Sign-Ups | Providence Church</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700,700italic,900,900italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <link rel="stylesheet" href="app.css">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-mask/1.8.7/mask.min.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>    <script src="app.js" charset="utf-8"></script>

    <script src="app.js" charset="utf-8"></script>
</head>
<body ng-app="prov.cgSignup">
    <div
        id="container"
        layout="column"
        ng-class="app.getContainerClass()"
        ng-controller="AppCtrl as app">

        <header>
            <h1 class="md-display-1">Community Group Sign-Ups</h1>
        </header>

        <!-- INTRODUCTION -->
        <section
            ng-show="app.currentStep == 1"
            ng-include="'app/templates/sections/introduction.tpl.html'">
        </section>

        <!-- ABOUT YOU -->
        <section
            ng-show="app.currentStep == 2"
            ng-include="'app/templates/sections/about.tpl.html'">
        </section>

        <!-- FIND A GROUP-->
        <section
            ng-show="app.currentStep == 3"
            ng-include="'app/templates/sections/groups.tpl.html'"
            layout="column">
        </section>

        <!-- THANKS -->
        <section
            ng-show="app.currentStep == 4"
            ng-include="'app/templates/sections/thanks.tpl.html'">
        </section>

        <footer
            class="progress md-primary"
            layout="rows"
            layout-align="space-around center">
            <md-button
                ng-click="app.previous()"
                ng-disabled="app.currentStep <= 1 || app.currentStep >= app.totalSteps"
                title="Previous Step">
                <md-icon>keyboard_arrow_left</md-icon>
                Previous
            </md-button>
            <span class="progress">
                <span ng-bind="app.currentStep"></span>
                /
                <span ng-bind="app.totalSteps"></span>
            </span>
            <md-button
                ng-click="app.next()"
                ng-disabled="app.currentStep >= app.totalSteps"
                title="Next Step">
                Next
                <md-icon>keyboard_arrow_right</md-icon>
            </md-button>
        </footer>

    </div>
</body>
</html>
