@keyframes bounce {
    0% {
        top: 0;
    }

    15% {
        top: -0.1em;
    }

    30% {
        top: 0;
    }
}

body {
    background-color: #eee;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: auto;
    line-height: 1.5;
    padding: 0 1em;
}

body::before, body::after {
    content: "";
    display: block;
    height: 2em;
}

#loading-container {
    background-color: inherit;
    bottom: 0;
    display: block;
    left: 0;
    padding-top: 20%;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 9999;
}

#loading-container.done {
    display: none;
}

#loading-container .dot {
    animation: 2.25s ease-in-out 1s both infinite bounce;
    color: #aaa;
    display: inline-block;
    font-size: 10em;
    position: relative;
}

#loading-container .dot + .dot {
    animation-delay: 1.3s;
}

#loading-container .dot + .dot + .dot {
    animation-delay: 1.6s;
}

#loading-container .dot:after {
    content: ".";
}

#container {
    background-color: white;
    border-radius: 1em;
    box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.37);
    margin: 0 auto;
    max-width: 860px;
}

#container.sm {
    max-width: 640px;
}

#container.lg {
    max-width: 1150px;
}

#container > header {
    background-color: #1976D2;
    border-radius: 0.5em 0.5em 0 0;
}

#container > header h1 {
    color: white;
    text-align: center;
}

#container > footer {
    background-color: #1976D2;
    border-radius: 0 0 0.5em 0.5em;
    color: white;
    padding: 0.5em;
}

#container > footer md-icon {
    color: white;
}

#container > footer button[disabled] {
    visibility: hidden;
}

section {
    padding: 0.5em 1em 1em;
}

section form button[type=submit] {
    display: none;
}

.md-toolbar-tools h2 {
    font-size: 1.2em;
}

md-toolbar h2 md-icon.material-icons {
    font-size: 1.2em;
    height: 1em;
    width: 1em;
}

.provchurch-logo {
    display: block;
    margin: 3em auto 1em;
    max-width: 100%;
    width: 12em;
}

.group {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    max-height: none !important;
    position: relative;
    transition: all 0.2s ease-out;
    width: 100%;
}

.group.group-open:hover {
    background-color: #ffa;
    box-shadow: 0.2em 0.2em 0.5em rgba(0,0,0,0.2);
    z-index: 20;
}

.read-only .group.group-open:hover {
    background-color: transparent;
    box-shadow: none;
    z-index: auto;
}

.group + .group {
    border-top: none;
}

.group h2 {
    color: #1976D2;
    height: 60px;
    line-height: 1.2;
    margin-bottom: 0;
}

.group-status {
    color: #999;
    font-weight: normal;
    text-align: center;
}

.group-status md-icon.material-icons {
    color: #999;
    font-size: 1.5em;
    height: 1em;
    margin-top: -0.2em;
}

.group-meta {
    margin-bottom: -1em;
    min-height: 3em;
}

.group-day,
.group-location,
.group-time,
.group-type {
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
}

.group-type {
    color: #1976D2;
    cursor: help;
    display: inline-block;
    margin-right: 1em;
    position: relative;
}

.group-type .tooltip {
    background-color: #1976D2;
    border-radius: 0.5em;
    color: white;
    cursor: auto;
    display: none;
    left: -0.5em;
    font-size: 0.9em;
    padding: 0.3em 1em;
    position: absolute;
    text-transform: none;
    top: 110%;
    white-space: normal;
    width: 250px;
}

.group-type:hover .tooltip {
    display: block;
}

.group-full .group-type .tooltip {
    background-color: #777;
}

.group-day::after {
    content: 's';
}

.group-date-time {
    display: inline-block;
    white-space: nowrap;
}

.group-members li {
    border-bottom: 1px solid transparent;
}

.group-members li.empty {
    color: #888;
    border-bottom: 1px dotted #888;
}

.group-member-is-leader {
    background-color: rgba(150, 150, 150, 0.3);
    border-radius: 0.5em;
    display: inline-block;
    font-weight: bold;
    font-size: 0.7em;
    margin-left: 0.2em;
    padding: 0.2em 0.6em;
    white-space: nowrap;
    text-transform: uppercase;
    vertical-align: text-bottom;
}

.group-controls {
    margin: 1em 0;
    text-align: center;
}

.group-full h2,
.group-full .group-type,
.group-full .group-date-time {
    color: rgba(0,0,0,0.38);
}

.feedback-modal h1 {
    font-size: 1.5em;
    font-weight: normal;
}

.feedback-modal h1 strong {
    color: #1976D2;
    display: inline-block;
    font-weight: bold;
    white-space: nowrap;
}

.feedback-modal .feedback-form {
    margin-top: 3em;
}

.thanks-table {
    margin: 1em auto;
}

.thanks-table th {
    font-size: 0.8em;
    font-weight: bold;
    padding-right: 1em;
    text-align: right;
    text-transform: uppercase;
}

@media (min-width: 960px) {
    .group {
        border: 1px solid #ddd;
        border-left: none;
        padding: 0 1.5em;
    }

    .group + .group {
        border-top: 1px solid #ddd;
    }

    .group + .group + .group + .group {
        border-top: none;
    }

    .group:nth-child(3n) {
        border-right: none;
    }

    .feedback-modal {
        max-width: 50em;
    }
}
