<md-toolbar>
    <div class="md-toolbar-tools">
        <h2 class="md-title">
            <md-icon>lock_outline</md-icon>
            Sign-Ups Currently Closed
        </h2>
        <span flex></span>
    </div>
</md-toolbar>

<section>
    <h1>I'm sorry, but sign-ups are over.</h1>
    <p>Please <a href="http://provchurch.org/contact" target="_blank">contact the church office</a> for more information about Community Groups at Providence Church. Feel free to visit an existing group or ask about joining us next session!</p>

    <img src="assets/provchurch-logo.png" class="provchurch-logo" alt="Providence Church">

</section>
